/*CONFIG IMPORTS*/
/*CUSTOM FONTS*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@font-face {
  font-family: 'reisetopia-icons';
  src: url("..//fonts/reisetopia-icons/reisetopia-icons.eot?nmal5n");
  src: url("..//fonts/reisetopia-icons/reisetopia-icons.eot?nmal5n#iefix") format("embedded-opentype"), url("..//fonts/reisetopia-icons/reisetopia-icons.woff2?nmal5n") format("woff2"), url("..//fonts/reisetopia-icons/reisetopia-icons.ttf?nmal5n") format("truetype"), url("..//fonts/reisetopia-icons/reisetopia-icons.woff?nmal5n") format("woff"), url("..//fonts/reisetopia-icons/reisetopia-icons.svg?nmal5n#reisetopia-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="rst-icon-"], [class*=" rst-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'reisetopia-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.rst-icon-arrow:before {
  content: "\e900"; }

.rst-icon-camera:before {
  content: "\e901"; }

.rst-icon-card:before {
  content: "\e902"; }

.rst-icon-check:before {
  content: "\e903"; }

.rst-icon-clock:before {
  content: "\e904"; }

.rst-icon-cross:before {
  content: "\e905"; }

.rst-icon-hamburger:before {
  content: "\e906"; }

.rst-icon-plane:before {
  content: "\e907"; }

.rst-icon-search:before {
  content: "\e908"; }

/*NORMALIZE*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*BASE THEME STYLES*/
body, html {
  font-family: "Titillium Web", sans-serif; }

/*MAIN HEADER*/
#main-header {
  background: #fff;
  width: 100%; }
  #main-header .container-fluid {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #main-header .container-fluid .nav-toggle {
      display: none; }
      #main-header .container-fluid .nav-toggle a {
        text-decoration: none;
        color: #898989;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out; }
        #main-header .container-fluid .nav-toggle a i {
          font-size: 20px; }
          #main-header .container-fluid .nav-toggle a i.rst-icon-hamburger {
            font-size: 17px; }
        #main-header .container-fluid .nav-toggle a:hover {
          color: #db4131; }
    #main-header .container-fluid .logo {
      min-width: 205px; }
      #main-header .container-fluid .logo a h1 {
        margin: 0;
        padding: 0; }
        #main-header .container-fluid .logo a h1 img {
          max-width: 100%; }
    #main-header .container-fluid .navbar ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #main-header .container-fluid .navbar ul li {
        margin: 0 15px; }
        #main-header .container-fluid .navbar ul li a {
          display: flex;
          align-items: center;
          padding: 10px 25px;
          color: #232323;
          font-size: 16px;
          font-weight: 700;
          line-height: 34px;
          text-transform: uppercase;
          text-decoration: none;
          border: 1px solid #db4131;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out; }
          #main-header .container-fluid .navbar ul li a i {
            color: #db4131;
            margin-right: 10px;
            font-size: 18px; }
            #main-header .container-fluid .navbar ul li a i.rst-icon-plane {
              font-size: 25px; }
          #main-header .container-fluid .navbar ul li a:hover, #main-header .container-fluid .navbar ul li a.active {
            border-color: rgba(35, 35, 35, 0.15);
            color: #db4131; }
    #main-header .container-fluid .actions {
      min-width: 205px;
      text-align: right; }
      #main-header .container-fluid .actions a {
        text-decoration: none;
        margin-left: 15px;
        color: #898989;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out; }
        #main-header .container-fluid .actions a i {
          font-size: 20px; }
          #main-header .container-fluid .actions a i.rst-icon-hamburger {
            font-size: 17px; }
        #main-header .container-fluid .actions a:hover {
          color: #db4131; }

@media (max-width: 1200px) {
  #main-header .container-fluid .logo {
    width: 165px; }
  #main-header .container-fluid .navbar ul li a {
    font-size: 15px; }
  #main-header .container-fluid .actions {
    min-width: unset; } }

@media (max-width: 992px) {
  #main-header .container-fluid {
    flex-wrap: wrap; }
    #main-header .container-fluid .logo {
      width: auto;
      order: 1; }
    #main-header .container-fluid .navbar {
      flex: 100%;
      width: 100%;
      order: 3; }
      #main-header .container-fluid .navbar ul {
        justify-content: center; }
        #main-header .container-fluid .navbar ul li a {
          font-size: 16px; }
    #main-header .container-fluid .actions {
      order: 2; } }

@media (max-width: 768px) {
  #main-header .container-fluid .nav-toggle {
    display: block; }
  #main-header .container-fluid .logo {
    width: 145px;
    min-width: unset; }
  #main-header .container-fluid .navbar {
    flex: 100%;
    width: 100%;
    order: 3; }
    #main-header .container-fluid .navbar ul {
      justify-content: center;
      flex-wrap: wrap; }
      #main-header .container-fluid .navbar ul li {
        margin: 0 5px; }
        #main-header .container-fluid .navbar ul li a {
          font-size: 13px;
          padding: 5px 20px; }
          #main-header .container-fluid .navbar ul li a i {
            color: #db4131;
            margin-right: 10px;
            font-size: 13px; }
            #main-header .container-fluid .navbar ul li a i.rst-icon-plane {
              font-size: 20px; }
  #main-header .container-fluid .actions {
    order: 2; }
    #main-header .container-fluid .actions .btn-navbar-toggler {
      display: none; } }

@media (max-width: 576px) {
  #main-header .container-fluid .navbar {
    margin: 0 -5px; }
    #main-header .container-fluid .navbar ul {
      justify-content: space-between;
      flex-wrap: wrap; }
      #main-header .container-fluid .navbar ul li:first-child {
        margin-left: 0; }
      #main-header .container-fluid .navbar ul li:last-child {
        margin-right: 0; }
      #main-header .container-fluid .navbar ul li a {
        padding: 3px 14px; }
        #main-header .container-fluid .navbar ul li a i {
          margin-right: 5px;
          font-size: 12px; }
          #main-header .container-fluid .navbar ul li a i.rst-icon-plane {
            font-size: 14px; } }

@media (max-width: 479px) {
  #main-header .container-fluid .navbar {
    margin: 0 -5px; }
    #main-header .container-fluid .navbar ul {
      justify-content: space-between;
      flex-wrap: wrap; }
      #main-header .container-fluid .navbar ul li {
        width: 100%;
        margin-bottom: 15px; }
        #main-header .container-fluid .navbar ul li a {
          justify-content: center; } }

/*END MAIN HEADER*/
/*PAGES*/
.homepage {
  background-color: #efefef;
  padding-bottom: 100px;
  /*HERO BANNER*/
  /*END HERO BANNER*/
  /*MAIN CONTENT*/
  /*END MAIN CONTENT*/ }
  .homepage .hero-banner {
    width: 100%;
    background: url("../temp-images/hero-banner.jpg") no-repeat 0 0;
    background-size: cover; }
    .homepage .hero-banner .container {
      max-width: 1200px;
      margin: auto; }
      .homepage .hero-banner .container .banner {
        padding: 70px 0 90px;
        text-align: center;
        color: #fff; }
        .homepage .hero-banner .container .banner .info h2 {
          font-size: 36px;
          font-weight: 600;
          text-transform: uppercase; }
        .homepage .hero-banner .container .banner .info .separator {
          display: flex;
          align-items: center;
          justify-content: center; }
          .homepage .hero-banner .container .banner .info .separator span {
            width: 9px;
            height: 9px;
            display: inline-block;
            border: 1px solid #fff;
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin: 0 10px; }
          .homepage .hero-banner .container .banner .info .separator:before, .homepage .hero-banner .container .banner .info .separator:after {
            content: '';
            width: 5px;
            height: 5px;
            display: inline-block;
            border: 1px solid #fff;
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
        .homepage .hero-banner .container .banner .info strong {
          color: #d8d8d8;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.54px; }
  .homepage .main-content .container {
    max-width: 980px;
    margin: auto;
    padding: 0 15px; }
    .homepage .main-content .container .box {
      padding: 80px 90px;
      -webkit-box-shadow: 0 7px 32px rgba(44, 44, 44, 0.1);
      -moz-box-shadow: 0 7px 32px rgba(44, 44, 44, 0.1);
      box-shadow: 0 7px 32px rgba(44, 44, 44, 0.1);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      background-color: #fff;
      margin: -40px 0 0;
      /*INTRO*/
      /*END INTRO*/
      /*WHICH CREDIT CARDS*/
      /*END WHICH CREDIT CARDS*/
      /*CREDIT CARD LIST*/
      /*END CREDIT CARD LIST*/ }
      .homepage .main-content .container .box .intro {
        color: #232323;
        font-size: 22px;
        font-weight: 600;
        line-height: 34px;
        margin-bottom: 50px; }
      .homepage .main-content .container .box .which-credit-cards p {
        color: #232323;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 30px; }
        .homepage .main-content .container .box .which-credit-cards p b {
          font-size: 22px;
          font-weight: 600;
          line-height: 34px; }
      .homepage .main-content .container .box .which-credit-cards ul {
        list-style-type: none;
        margin-bottom: 30px; }
        .homepage .main-content .container .box .which-credit-cards ul li {
          position: relative;
          color: #232323;
          font-size: 18px;
          font-weight: 300;
          line-height: 30px;
          padding-left: 15px; }
          .homepage .main-content .container .box .which-credit-cards ul li:before {
            position: absolute;
            top: 50%;
            left: 0;
            content: '';
            width: 6px;
            height: 6px;
            margin-top: -3px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            background: #db4131;
            display: inline-block; }
      .homepage .main-content .container .box .credit-card-list {
        /*NAV*/
        /*END NAV*/
        /*CONTENT FILTER ITEMS*/
        /*END CONTENT FILTER ITEMS*/
        /*LOAD MORE*/
        /*END LOAD MORE*/ }
        .homepage .main-content .container .box .credit-card-list nav .nav-filter {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap; }
          .homepage .main-content .container .box .credit-card-list nav .nav-filter a {
            margin-right: 15px;
            text-decoration: none;
            padding: 10px 30px;
            color: #232323;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            background-color: #fff;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-box-shadow: 0 3px 12px 1px rgba(1, 1, 1, 0.08);
            -moz-box-shadow: 0 3px 12px 1px rgba(1, 1, 1, 0.08);
            box-shadow: 0 3px 12px 1px rgba(1, 1, 1, 0.08);
            border-radius: 27px;
            -webkit-border-radius: 27px;
            -moz-border-radius: 27px; }
            .homepage .main-content .container .box .credit-card-list nav .nav-filter a.active, .homepage .main-content .container .box .credit-card-list nav .nav-filter a:hover {
              background: #db4131;
              color: #fff; }
        .homepage .main-content .container .box .credit-card-list .content-filter-items {
          margin-top: 30px; }
          .homepage .main-content .container .box .credit-card-list .content-filter-items .item {
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-box-shadow: 0 7px 32px rgba(44, 44, 44, 0.1), -2px 0 0 #da3d2c;
            -moz-box-shadow: 0 7px 32px rgba(44, 44, 44, 0.1), -2px 0 0 #da3d2c;
            box-shadow: 0 7px 32px rgba(44, 44, 44, 0.1), -2px 0 0 #da3d2c;
            background-color: #fff;
            margin-bottom: 30px;
            padding: 30px; }
            .homepage .main-content .container .box .credit-card-list .content-filter-items .item h3 {
              flex: 100%;
              width: 100%;
              display: inline-block;
              margin: 0 0 15px;
              padding: 0;
              color: #232323;
              font-size: 22px;
              font-weight: 700;
              line-height: 30px; }
            .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              /*INFO*/
              /*END INFO*/
              /*ACTIONS*/
              /*END ACTIONS*/ }
              .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .info {
                flex-grow: 1;
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start; }
                .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .info .image img {
                  max-width: 100%; }
                .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .info .text ul {
                  margin: 0;
                  list-style-type: none;
                  padding-left: 20px; }
                  .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .info .text ul li {
                    position: relative;
                    padding-left: 20px;
                    color: #232323;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24px; }
                    .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .info .text ul li:before {
                      font-family: "reisetopia-icons";
                      content: '\e903';
                      position: absolute;
                      top: 50%;
                      left: 0;
                      margin-top: -12px;
                      color: #afafaf; }
              .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .actions {
                flex: 1;
                min-width: 200px; }
                .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .actions a {
                  display: inline-block;
                  text-align: center;
                  text-decoration: none;
                  padding: 20px 30px;
                  margin-bottom: 15px;
                  width: 100%;
                  max-width: 140px;
                  border-radius: 29px;
                  -webkit-border-radius: 29px;
                  -moz-border-radius: 29px;
                  border: 1px solid rgba(35, 35, 35, 0.3);
                  background-color: #fff;
                  color: #db4131;
                  font-size: 12px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 1.8px;
                  transition: all 0.2s ease-in-out;
                  -webkit-transition: all 0.2s ease-in-out;
                  -moz-transition: all 0.2s ease-in-out; }
                  .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .actions a.btn-apply {
                    border-color: #db4131;
                    background: #db4131;
                    color: #fff; }
                  .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .actions a:hover {
                    color: #fff;
                    background: #232323;
                    border-color: #232323; }
        .homepage .main-content .container .box .credit-card-list .load-more {
          text-align: center; }
          .homepage .main-content .container .box .credit-card-list .load-more a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            padding: 20px;
            margin: 30px auto 0;
            width: 100%;
            max-width: 140px;
            border-radius: 29px;
            -webkit-border-radius: 29px;
            -moz-border-radius: 29px;
            border: 1px solid rgba(35, 35, 35, 0.3);
            background-color: #fff;
            color: #db4131;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out; }
            .homepage .main-content .container .box .credit-card-list .load-more a:hover {
              color: #fff;
              background: #232323;
              border-color: #232323; }
  @media (max-width: 768px) {
    .homepage {
      /*MAIN CONTENT*/
      /*END MAIN CONTENT*/ }
      .homepage .main-content .container .box {
        padding: 40px 15px;
        /*INTRO*/
        /*END INTRO*/
        /*WHICH CREDIT CARDS*/
        /*END WHICH CREDIT CARDS*/
        /*CREDIT CARD LIST*/
        /*END CREDIT CARD LIST*/ }
        .homepage .main-content .container .box .intro {
          font-size: 18px; }
        .homepage .main-content .container .box .which-credit-cards p {
          font-size: 16px; }
          .homepage .main-content .container .box .which-credit-cards p b {
            font-size: 18px; }
        .homepage .main-content .container .box .which-credit-cards ul li {
          font-size: 16px; }
        .homepage .main-content .container .box .credit-card-list {
          /*NAV*/
          /*END NAV*/
          /*CONTENT FILTER ITEMS*/
          /*END CONTENT FILTER ITEMS*/ }
          .homepage .main-content .container .box .credit-card-list nav {
            margin: 0 -7.5px; }
            .homepage .main-content .container .box .credit-card-list nav .nav-filter a {
              margin: 0 7.5px 15px;
              padding: 10px 20px; }
          .homepage .main-content .container .box .credit-card-list .content-filter-items .item {
            padding: 20px 15px; }
            .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div {
              flex-wrap: wrap;
              /*INFO*/
              /*END INFO*/
              /*ACTIONS*/
              /*END ACTIONS*/ }
              .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .info {
                flex: 100%; }
              .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .actions {
                flex: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: center; }
                .homepage .main-content .container .box .credit-card-list .content-filter-items .item > div .actions a {
                  margin: 0 10px;
                  padding: 20px 15px; } }
