.homepage {
  background-color: #efefef;
  padding-bottom: 100px;
  /*HERO BANNER*/
  .hero-banner {
    width: 100%;
    background: url('#{$baseDir}temp-images/hero-banner.jpg') no-repeat 0 0;
    background-size: cover;
    .container {
      max-width: 1200px;
      margin: auto;
      .banner {
        padding: 70px 0 90px;
        text-align: center;
        color: #fff;
        .info {
          h2 {
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
          }
          .separator {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              width: 9px;
              height: 9px;
              display: inline-block;
              border: 1px solid #fff;
              @include rotate(45);
              margin: 0 10px;
            }
            &:before, &:after {
              content: '';
              width: 5px;
              height: 5px;
              display: inline-block;
              border: 1px solid #fff;
              @include rotate(45);
            }
          }
          strong {
            color: #d8d8d8;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.54px;
          }
        }
      }
    }
  }
  /*END HERO BANNER*/

  /*MAIN CONTENT*/
  .main-content {
    .container {
      max-width: 980px;
      margin: auto;
      padding: 0 15px;
      .box {
        padding: 80px 90px;
        @include box-shadow(0 7px 32px rgba(44, 44, 44, 0.1));
        @include border-radius(6px);
        background-color: #fff;
        margin: -40px 0 0;

        /*INTRO*/
        .intro {
          color: #232323;
          font-size: 22px;
          font-weight: 600;
          line-height: 34px;
          margin-bottom: 50px;
        }
        /*END INTRO*/

        /*WHICH CREDIT CARDS*/
        .which-credit-cards {
          p {
            color: #232323;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 30px;
            b {
              font-size: 22px;
              font-weight: 600;
              line-height: 34px;
            }
          }

          ul {
            list-style-type: none;
            margin-bottom: 30px;
            li {
              position: relative;
              color: #232323;
              font-size: 18px;
              font-weight: 300;
              line-height: 30px;
              padding-left: 15px;
              &:before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';
                width: 6px;
                height: 6px;
                margin-top: -3px;
                @include border-radius(100%);
                background: $theme-first-color;
                display: inline-block;
              }
            }
          }
        }
        /*END WHICH CREDIT CARDS*/

        /*CREDIT CARD LIST*/
        .credit-card-list {

          /*NAV*/
          nav {
            .nav-filter {
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              a {
                margin-right: 15px;
                text-decoration: none;
                padding: 10px 30px;
                color: #232323;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                background-color: #fff;
                @include transition($theme-default-transition);
                @include box-shadow(0 3px 12px 1px rgba(1, 1, 1, 0.08));
                @include border-radius(27px);
                &.active, &:hover {
                  background: $theme-first-color;
                  color: #fff;
                }
              }
            }
          }
          /*END NAV*/

          /*CONTENT FILTER ITEMS*/
          .content-filter-items {
            margin-top: 30px;
            .item {
              @include border-radius(6px);
              @include box-shadow("0 7px 32px rgba(44, 44, 44, 0.1), -2px 0 0 #da3d2c");
              background-color: #fff;
              margin-bottom: 30px;
              padding: 30px;
              h3 {
                flex: 100%;
                width: 100%;
                display: inline-block;
                margin: 0 0 15px;
                padding: 0;

                color: #232323;
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
              }
              > div {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                /*INFO*/

                .info {
                  flex-grow: 1;
                  margin-right: auto;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .image {
                    img {
                      max-width: 100%;
                    }
                  }
                  .text {
                    ul {
                      margin: 0;
                      list-style-type: none;
                      padding-left: 20px;
                      li {
                        position: relative;
                        padding-left: 20px;

                        color: #232323;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 24px;

                        &:before {
                          font-family: $theme-icon-font-family;
                          content: '\e903';
                          position: absolute;
                          top: 50%;
                          left: 0;
                          margin-top: -12px;
                          color: #afafaf;
                        }
                      }
                    }
                  }
                }
                /*END INFO*/

                /*ACTIONS*/

                .actions {
                  flex: 1;
                  min-width: 200px;
                  a {
                    display: inline-block;
                    text-align: center;
                    text-decoration: none;
                    padding: 20px 30px;
                    margin-bottom: 15px;
                    width: 100%;
                    max-width: 140px;
                    @include border-radius(29px);
                    border: 1px solid rgba(#232323, .3);
                    background-color: #fff;
                    color: #db4131;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;

                    letter-spacing: 1.8px;
                    @include transition($theme-default-transition);
                    &.btn-apply {
                      border-color: $theme-first-color;
                      background: $theme-first-color;
                      color: #fff;
                    }
                    &:hover {
                      color: #fff;
                      background: #232323;
                      border-color: #232323;
                    }
                  }
                }
                /*END ACTIONS*/

              }
            }
          }
          /*END CONTENT FILTER ITEMS*/

          /*LOAD MORE*/
          .load-more {
            text-align: center;
            a {
              display: inline-block;
              text-align: center;
              text-decoration: none;
              padding: 20px;
              margin: 30px auto 0;
              width: 100%;
              max-width: 140px;
              @include border-radius(29px);
              border: 1px solid rgba(#232323, .3);
              background-color: #fff;
              color: #db4131;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;

              letter-spacing: 1.8px;
              @include transition($theme-default-transition);

              &:hover {
                color: #fff;
                background: #232323;
                border-color: #232323;
              }
            }
          }
          /*END LOAD MORE*/

        }
        /*END CREDIT CARD LIST*/

      }
    }
  }
  /*END MAIN CONTENT*/

  @media(max-width: map_get($grid-breakpoints, md)) {

    /*MAIN CONTENT*/
    .main-content {
      .container {
        .box {
          padding: 40px 15px;
          /*INTRO*/
          .intro {
            font-size: 18px;
          }
          /*END INTRO*/

          /*WHICH CREDIT CARDS*/
          .which-credit-cards {
            p {
              font-size: 16px;
              b {
                font-size: 18px;
              }
            }

            ul {
              li {
                font-size: 16px;
              }
            }
          }
          /*END WHICH CREDIT CARDS*/

          /*CREDIT CARD LIST*/
          .credit-card-list {

            /*NAV*/
            nav {
              margin: 0 -7.5px;
              .nav-filter {
                a {
                  margin: 0 7.5px 15px;
                  padding: 10px 20px;
                }
              }
            }
            /*END NAV*/

            /*CONTENT FILTER ITEMS*/
            .content-filter-items {
              .item {
                padding: 20px 15px;
                > div {
                  flex-wrap: wrap;
                  /*INFO*/
                  .info {
                    flex: 100%;
                  }
                  /*END INFO*/

                  /*ACTIONS*/

                  .actions {
                    flex: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    a {
                      margin: 0 10px;
                      padding: 20px 15px;
                    }
                  }
                  /*END ACTIONS*/

                }
              }
            }
            /*END CONTENT FILTER ITEMS*/


          }
          /*END CREDIT CARD LIST*/

        }
      }
    }
    /*END MAIN CONTENT*/

  }

}