@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');

@font-face {
  font-family: 'reisetopia-icons';
  src: url('#{$baseDir}/fonts/reisetopia-icons/reisetopia-icons.eot?nmal5n');
  src: url('#{$baseDir}/fonts/reisetopia-icons/reisetopia-icons.eot?nmal5n#iefix') format('embedded-opentype'),
  url('#{$baseDir}/fonts/reisetopia-icons/reisetopia-icons.woff2?nmal5n') format('woff2'),
  url('#{$baseDir}/fonts/reisetopia-icons/reisetopia-icons.ttf?nmal5n') format('truetype'),
  url('#{$baseDir}/fonts/reisetopia-icons/reisetopia-icons.woff?nmal5n') format('woff'),
  url('#{$baseDir}/fonts/reisetopia-icons/reisetopia-icons.svg?nmal5n#reisetopia-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rst-icon-"], [class*=" rst-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'reisetopia-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rst-icon-arrow:before {
  content: "\e900";
}

.rst-icon-camera:before {
  content: "\e901";
}

.rst-icon-card:before {
  content: "\e902";
}

.rst-icon-check:before {
  content: "\e903";
}

.rst-icon-clock:before {
  content: "\e904";
}

.rst-icon-cross:before {
  content: "\e905";
}

.rst-icon-hamburger:before {
  content: "\e906";
}

.rst-icon-plane:before {
  content: "\e907";
}

.rst-icon-search:before {
  content: "\e908";
}
