$baseDir: '../';

$theme-default-font-family: 'Titillium Web', sans-serif;
$theme-icon-font-family: 'reisetopia-icons';

$theme-first-color: #db4131;

$theme-default-transition: all .2s ease-in-out;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;