body, html {
  font-family: $theme-default-font-family;
}

/*MAIN HEADER*/
#main-header {
  background: #fff;
  width: 100%;
  .container-fluid {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-toggle {
      display: none;
      a {
        text-decoration: none;
        color: #898989;
        @include transition($theme-default-transition);
        i {
          font-size: 20px;
          &.rst-icon-hamburger {
            font-size: 17px;
          }
        }
        &:hover {
          color: $theme-first-color;
        }
      }
    }
    .logo {
      min-width: 205px;
      a {
        h1 {
          margin: 0;
          padding: 0;
          img {
            max-width: 100%;
          }
        }
      }
    }

    .navbar {
      ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          margin: 0 15px;
          a {
            display: flex;
            align-items: center;
            padding: 10px 25px;
            color: #232323;
            font-size: 16px;
            font-weight: 700;
            line-height: 34px;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid $theme-first-color;
            @include border-radius(30px);
            @include transition($theme-default-transition);
            i {
              color: $theme-first-color;
              margin-right: 10px;
              font-size: 18px;
              &.rst-icon-plane {
                font-size: 25px;
              }
            }
            &:hover, &.active {
              border-color: rgba(#232323, .15);
              color: $theme-first-color;
            }
          }
        }
      }
    }

    .actions {
      min-width: 205px;
      text-align: right;
      a {
        text-decoration: none;
        margin-left: 15px;
        color: #898989;
        @include transition($theme-default-transition);
        i {
          font-size: 20px;
          &.rst-icon-hamburger {
            font-size: 17px;
          }
        }
        &:hover {
          color: $theme-first-color;
        }
      }
    }
  }
}

@media(max-width: map_get($grid-breakpoints, xl)) {

  #main-header {
    .container-fluid {
      .logo {
        width: 165px;
      }

      .navbar {
        ul {
          li {
            a {
              font-size: 15px;
            }
          }
        }
      }

      .actions {
        min-width: unset;
      }
    }
  }

}

@media(max-width: map_get($grid-breakpoints, lg)) {

  #main-header {
    .container-fluid {
      flex-wrap: wrap;
      .logo {
        width: auto;
        order: 1;
      }

      .navbar {
        flex: 100%;
        width: 100%;
        order: 3;
        ul {
          justify-content: center;
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }

      .actions {
        order: 2;
      }
    }
  }

}

@media(max-width: map_get($grid-breakpoints, md)) {

  #main-header {
    .container-fluid {

      .nav-toggle {
        display: block;
      }

      .logo {
        width: 145px;
        min-width: unset;
      }

      .navbar {
        flex: 100%;
        width: 100%;
        order: 3;
        ul {
          justify-content: center;
          flex-wrap: wrap;
          li {
            margin: 0 5px;
            a {
              font-size: 13px;
              padding: 5px 20px;
              i {
                color: $theme-first-color;
                margin-right: 10px;
                font-size: 13px;
                &.rst-icon-plane {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }

      .actions {
        order: 2;
        .btn-navbar-toggler {
          display: none;
        }
      }
    }
  }
}

@media(max-width: map_get($grid-breakpoints, sm)) {
  #main-header {
    .container-fluid {
      .navbar {
        margin: 0 -5px;
        ul {
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            a {
              padding: 3px 14px;
              i {
                margin-right: 5px;
                font-size: 12px;
                &.rst-icon-plane {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 479px) {
  #main-header {
    .container-fluid {
      .navbar {
        margin: 0 -5px;
        ul {
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            width: 100%;
            margin-bottom: 15px;
            a {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

/*END MAIN HEADER*/
